.body{
    display: flex;
    gap: 50px;
}
.photo{
    border-radius: 50%;
    width: 400PX;
    height: 400PX;
}
 h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
 }
li{
    font-size: larger;
}
body{
    background-color: lightsteelblue;
}
a{
    text-decoration: none;
    color: black;
}